html, body {
    font-family: monospace;
    word-wrap: break-word;
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    margin: 4px 4px 4px 4px;
}

.flexcolumn {
    display:inline-flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0px 2px 0px 2px;
}

.top {}

.content {
    flex: 1;
    overflow: auto;
}

.hidden {
    display: none;
}

label, select, input, button {
    vertical-align: middle;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

tr.sel {
    background: #EEEEEE;
}

tr.sel:hover {
    background: #DDDDDD;
}

tr.hov:hover {
    background: #DDDDDD;
}

th {
    border: 1px solid black;
    padding: 2px;
    background-color: #398AF5;
    color: white;
}

td {
    border: 1px solid grey;
    padding: 2px;
}

span {
    white-space:nowrap;
}

td.tdc {
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

#th_rt, #th_name, #th_sd, #th_ert, #th_rank, #th_lu, #th_dtf, #th_dtu, #th_sail, #th_state, #th_hdg, #th_twa, #th_tws, #th_speed, #th_options {
    cursor: pointer;
}


fieldset {
    display: inline-flex;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 3px;
    padding-block-start: 0;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: .25em;
    min-inline-size: min-content;
    border: 1px solid grey;
    visibility: hidden;
}

tablectrl {
    display: inline-flex;
}

.tab2 {
    display: block;
    position: relative;
    margin: 0 0;
    padding: 0 0;
}

.tab2 .tab {
    float: left;
    display: block;
    margin: 0 2px;
    padding: 0 2px;
}

.tab2 .tab>input[type="checbox"] {
    position: absolute;
    display: none;
}

.tab2 .tab>label {
    display: block;
    padding: 1px 3px;
    font-size: 10px;
    cursor: pointer;
    position: relative;
    color: #000000;
    background: #EEEEEE;
}

.tab2>.tab>[id^="sel_"]:checked + label {
    top: 0;
    background: #666666;
    color: #F5F5F5;
}

.tabs {
    display: block;
    position: relative;
    padding: 0px;
}

.tabs .tab {
    float: left;
    display: block;
}

.tabs .tab>input[type="radio"] {
    position: absolute;
    display: none;
}

.tabs .tab>label {
    display: block;
    padding: 6px 21px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color: #000000;
    background: #EEEEEE;
}

.tabs>.tab>[id^="ts:"]:checked + label {
    top: 0;
    background: #555555;
    color: #F5F5F5;
}

.icon {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
    bottom: -0.125em;
}

thead.sticky th {
    position: sticky;
    top: 0;
    outline: 1px solid black;
    outline-offset: -1px; 
}
