html, body {
	font-family: monospace;
	word-wrap: break-word;
	height: 100%;
	margin: 0;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.flexrow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
    margin: 4px 4px 4px 4px;
}

.flexcolumn {
	display:inline-flex;
	flex-direction: column;
	flex-grow: 1;
    margin: 0px 2px 0px 2px;
}

.top {
}

.content {
	flex: 1;
	overflow: auto;
}

.hidden {
	display: none;
}

label, select, input, button {
    vertical-align: middle;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}
tr.sel {
	background: #eeeeee;
}
tr.sel:hover {
	background: #dddddd;
}
tr.hov:hover {
	background: #dddddd;
}
th {
	border: 1px solid black;
	padding: 2px;
}
td {
	border: 1px solid grey;
	padding: 2px;
}
span {
	white-space:nowrap;
}
td.tdc {
	cursor: pointer;
	font-weight: bold;
	font-size: 150%;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
}

#th_rt, #th_name, #th_rank, #th_dtf, #th_dtu, #th_state, #th_hdg, #th_twa, #th_tws, #th_speed, #th_speedF {
	cursor: pointer;
}

.tabs{
	display: block;
	position: relative;
	padding: 0px;
}
.tabs .tab{
	float: left;
	display: block;
}
.tabs .tab>input[type="radio"] {
	position: absolute;
	display: none;
}
.tabs .tab>label {
	display: block;
	padding: 6px 21px;
	font-size: 12px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	color: #000;
	background: #eee;
}
.tabs>.tab>[id^="ts:"]:checked + label {
	top: 0;
	background: #555;
	color: #F5F5F5;
}
.icon {
	display: inline-flex;
	align-self: center;
	position: relative;
	height: 1em;
	width: 1em;
	bottom: -0.125em;
}
